#heading {
  display: flex;
  text-align: center;
  color: white;
  font-size: 30px;
  font-weight: bold;
}

body {
  background-color: lightblue;
}

.card {
  float: right;
}

.container {
  margin-top: 20px;
}

#forecasth5 {
  margin-top: 10px;
}
